@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --blanco: #ffffff;
    --oscuro: #000000;
    --gris: #9B9E77;
    --secundario:#203753;
    --primario:#d5a55c;
    --complemento1: #CF6922;
    --complemento2: #CFB222;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

body{
    background-color: #f3c090;
}

.titulo{
    background-color: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
}

.titulo .imagen_logo{
    cursor: pointer;
}

.titulo .imagen_logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.titulo .imagen_logo img:hover{
    transform: scale(1.2);
}

h1, h2, h3{
    text-align: center;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 1.6;
}

p{
    color: var(--oscuro);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.producto-reciente{
    text-align: center;
}

.imagenes-producto-reciente{
    margin-right: auto;
    margin-left: auto;
}

.imagen-reciente{
    width: 300px;
}

/* @media(min-width: 768px){
    .imagenes-producto-reciente{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(min-width: 1024px){
    .imagenes-producto-reciente{
        display: grid;
        grid-template-columns: auto auto auto;
    }
} */

.mas-vendido{
    text-align: center;
}

.position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%); /*Con esto el div queda centrado*/
}

.slider{
    background-image: url(slider1.jpg);
    background-size: cover;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    animation: animate 10s infinite;
}

@keyframes animate {
    25%{
        background-image: url(images/sl4.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(images/sl3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(images/sl2.png);
        background-size: cover;
    }
    100%{
        background-image: url(images/sl1.jpg);
        background-size: cover;
    }
}

